<table class="table table-bordered">
  <tbody>
    <tr>
      <td class ='text-center' rowspan = '2'>
        <%= image_tag(@card.image.thumb.url) unless @card.image.blank? %>
      </td>
      <td class ='text-center' rowspan = '2'>
        <%= @card.original_text %>
      </td>
      <td class ='text-center' rowspan = '2'>
        <%= @card.translated_text %>
      </td>
      <td class ='text-center' rowspan = '2'>
        <%= l @card.review_date.to_date, format: :default %>
      </td>
      <td>
        <%= link_to t('defaults.edit'), edit_card_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to t('defaults.delete'), card_path(@card), method: :delete %>
      </td>
    </tr>
  </tbody>
</table>
<%= link_to t('defaults.back'), url_for(:back) %>
