<table class="table table-bordered">
  <tbody>
    <% @cards.each do |card| %>
    <tr>
      <td rowspan = '3'>
        <%= image_tag(card.image.thumb.url) %>
      </td>
      <td rowspan = '3'>
        <%= card.original_text %>
      </td>
      <td rowspan = '3'>
        <%= card.translated_text %>
      </td>
      <td rowspan = '3'>
        <%= l card.review_date.to_date, format: :default %>
      </td>
      <td>
        <%= link_to t('defaults.show'), card_path(card) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to t('defaults.edit'), edit_card_path(card) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to t('defaults.delete'), card_path(card), method: :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
