<h1>Все карточки</h1>
<table class="table table-bordered">
  <tbody>
    <% @cards.each do |card| %>
    <tr>
      <td rowspan = '3'>
        <%= card.original_text %>
      </td>
      <td rowspan = '3'>
        <%= card.translated_text %>
      </td>
      <td rowspan = '3'>
        <%= card.review_date.strftime('%d/%m/%Y') %>
      </td>
      <td>
        <%= link_to 'Show', card_path(card) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to 'Edit', edit_card_path(card) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to 'Delete', card_path(card), method: :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
