<table class="table table-bordered">
  <tbody>
    <tr>
      <td class ='text-center' rowspan = '2'>
        <%= image_tag(@card.image.thumb.url) %>
      </td>
      <td class ='text-center' rowspan = '2'>
        <%= @card.original_text %>
      </td>
      <td class ='text-center' rowspan = '2'>
        <%= @card.translated_text %>
      </td>
      <td class ='text-center' rowspan = '2'>
        <%= @card.review_date.strftime('%d/%m/%Y') %>
      </td>
      <td>
        <%= link_to 'Edit', edit_card_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to 'Delete', card_path(@card), method: :delete %>
      </td>
    </tr>
  </tbody>
</table>
<%= link_to 'Back', url_for(:back) %>