<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
    <%= label_tag t('.email') %><br />
    <%= text_field_tag :email %>
  </div>
  <br />
  <div class="field">
    <%= label_tag t('.password')%><br />
    <%= password_field_tag :password %>
  </div>
  <br />
  <div class="actions">
    <%= submit_tag t('.login') %>
  </div>
<% end %>
