<%= form_tag user_sessions_path, method: :post, class: 'form-group' do %>
  <div class="form-group">
    <%= label_tag t('.email') %><br />
    <%= text_field_tag :email, nil, class: 'form-control', required: true %>
  </div>
  <br />
  <div class="form-group">
    <%= label_tag t('.password')%><br />
    <%= password_field_tag :password, nil, class: 'form-control', required: true %>
  </div>
  <br />
  <%= submit_tag t('.login'), class: 'btn btn-default' %>
<% end %>
