<h1><%= t('.login') %></h1>

<%= render 'form' %>

<%= t('.login_with') %>
<%= link_to auth_at_provider_path(provider: :twitter), class: 'provider' do %>
  <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
<% end %> |
<%= link_to auth_at_provider_path(provider: :vk), class: 'provider' do %>
  <i class="fa fa-vk fa-2x" aria-hidden="true"></i>
<% end %> |
<%= link_to auth_at_provider_path(provider: :github), class: 'provider' do %>
  <i class="fa fa-github fa-2x" aria-hidden="true"></i>
<% end %>
