<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container">

    <header class="clearfix">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1><%= link_to t('.flashcards'), root_path %></h1>
        </div>
        <ul id="nav" class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to current_user.email, edit_user_path(current_user.id) %></li>
            <li><%= link_to t('.logout'), :logout, method: :delete %></li>
          <% else %>
            <li><%= link_to t('.register'), new_user_path %></li>
            <li><%= link_to t('.login'), :login %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <%= t('.langauge') %>: <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to t('.russian'), locale: :ru %></li>
                <li><%= link_to t('.english'), locale: :en %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
      <% if current_user %>
        <ul class="navigation-links">
          <li><%= link_to t('.my_decks'), decks_path, class: "btn btn-info btn-lg" %>
          </li>
          <li><%= link_to t('.all_cards'), cards_path, class: "btn btn-info btn-lg" %>
          </li>
          <li>
            <%= link_to t('.add_card'), new_card_path, class: "btn btn-info btn-lg" %>
          </li>
        </ul>
      <% end %>
    </header>
    <section class="message">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value.html_safe %></div>
      <% end %>
    </section>

    <section>
      <%= yield %>
    </section>

  </section>

</body>
</html>
