<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container">

    <header class="clearfix">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1><%= link_to "Флэшкарточкер", root_path %></h1>
        </div>
        <ul id="nav" class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to current_user.email, edit_user_path(current_user.id) %></li>
            <li><%= link_to "Logout", :logout, method: :delete %></li>
          <% else %>
            <li><%= link_to "Register", new_user_path %></li>
            <li><%= link_to "Login", :login %></li>
          <% end %>
        </ul>
      </div>
      <% if current_user %>
        <ul class="navigation-links">
          <li><%= link_to "My decks", decks_path, class: "btn btn-info btn-lg" %>
          </li>
          <li><%= link_to "Все карточки", cards_path, class: "btn btn-info btn-lg" %>
          </li>
          <li>
            <%= link_to "Добавить карточку", new_card_path, class: "btn btn-info btn-lg" %>
          </li>
        </ul>
      <% end %>
    </header>
    <section class="message">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value.html_safe %></div>
      <% end %>
    </section>

    <section>
      <%= yield %>
    </section>

  </section>

</body>
</html>
