<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container">
    
    <header class="clearfix">
      <h1><%= link_to "Флэшкарточкер", root_path %></h1>
      <ul class="navigation-links">
        <li><%= link_to "Все карточки", show_path, class: "btn btn-info btn-lg" %>
        </li>
        <li>
          <a href="#" class="btn btn-info btn-lg">Добавить карточку</a>
        </li>
      </ul>
    </header>
    
    <section>
<%= yield %>
    </section>

  </section>

</body>
</html>
