<!DOCTYPE html>
<html>
<head>
  <title><%= t('.flashcards') %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container">
    <%= render 'shared/header' %>

    <section class="message">
      <%= render 'shared/messages' %>
    </section>

    <section class="content">
      <%= yield %>
    </section>

  </section>

</body>
</html>
